config/
coverage/
node_modules/
src/
test/
tmp/

CONTRIBUTE.md
Dockerfile
docker-compose.yml
jest.config.js
sonar-project.properties
tsconfig.json

!config/default.yml
!config/custom-environment-variables.yml
