# Configuration files
config/

# Coverage directory used by tools like istanbul
coverage/

# TypeScript output directory
dist/

# Dependency directories
node_modules/

# Temporary files
tmp/

# Docker compose file
docker-compose.yml

# Jest result for Sonar
test-report.xml
